*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

body {
    margin:0;
    padding:0;
    text-align: center;
}

header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: fixed;
    padding: 10px 25px;
    height: 60px;
    width: 100%;
    background-color: #2b303b;
    color: white;
    left: 0px;
    top: 0px;
    margin: 0px;
    text-align: center;
}

.col-md-4{
    width: 100%;
}

.logo{
    height: 45px;
}

.primera{
   /*  float: left; */
    text-align: left;
}
.tercera{
    /* float: right; */
    text-align: right;
}
h1{
    margin-top: 60px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 40px;
}

h3{
    font-weight: bold;
    color: blueviolet;
}

content{
/*background-color: black;*/
margin-left: auto;
margin-right: auto;
width: 450px;
display: flex;
text-align: left;
}

p{
    font-weight: bold;
}

.main{
    /* background-color: blueviolet; */
    margin: 0%;
    left: 0;
    top: 0;
}

.deployimg_caja{
width: 500px;
height: 200px;
margin-left: auto;
margin-right: auto;

}

.deployimg{
    width: 300px;
    height: 200px;
    object-fit: none;
}

/*the container must be positioned relative:*/
.custom-select-accion {
  position: relative;
  font-family: Arial;
  display: block;
}

/*the container must be positioned relative:*/
.custom-select-ambiente {
  position: relative;
  font-family: Arial;
}

/*the container must be positioned relative:*/
.custom-select-aplicacion {
  position: relative;
  font-family: Arial;
}

.custom-select-accion select {
  display: none; /*hide original SELECT element:*/
}

.custom-select-ambiente select {
  display: none; /*hide original SELECT element:*/
}

.custom-select-aplicacion select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #b302e3;
  margin: 2px;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #f284fd;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  margin: 2px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/*BOTON EJECUTAR*/

.button-ejecutar {
  display: inline-block;
  padding: 5px 9px;
  font-family: Arial;
  font-size: 18px;
  cursor: pointer;
  text-align: center;   
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #447efd;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #666;
}

.button-ejecutar:hover {
  background-color: #F31C1C;
  transition: 0.2s;
}

.button-ejecutar:active {
  background-color: #BD0404;
  box-shadow: 0 5px #000;
  transform: translateY(4px);
}